body {
    font-family: Arial, sans-serif;
    background-image: url(https://media.istockphoto.com/id/505852736/photo/below-zero-degree-celsius-temperature-in-sunset-above-town.jpg?s=612x612&w=0&k=20&c=KWA3Tea0wWIf3FP5RVaAPXlsfKkjujxyvWeRkr3T_XU=);
    background-size: cover;
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding-right: 200px;
    padding-left: 70px;
    padding-top: 70px;
    padding-bottom: 60px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(226, 7, 7, 0.2);
    background-image: url(https://wallpaperaccess.com/full/684837.jpg);
    position: relative;
    background-size: cover;
    border: 2px solid aqua;
    transform: scale(1.01);
    transition: 0.2s;
    box-shadow: 0 0 15px rgb(99, 91, 179);
  }
  
  h2 {
    text-align: center;
    margin-top: 50px;
    color: #150a0a;
    font-size: 45px;
    
  }
  
  h2:hover{
    color: rgb(64, 13, 13);
    scale: 1.2;
    transition-duration: 0.5s;
    
  }
  .input-container {
    background-image: url(https://wallpaperaccess.com/full/684821.jpg);
    background-size: cover;
    width: 100%;
    padding-right: 70px;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid orange;
    position: relative;
    box-shadow: 0px 0px 10px rgba(215, 3, 3, 0.2);
    text-transform: uppercase;
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.2s;
    box-shadow: 0 0 15px rgb(99, 91, 179);
  }
  
  label {
    display: block;
    margin-bottom: 15px;
    color: white;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="number"]:focus {
    outline: none;
    border-color: #6e8eff;
  }
  
  input::placeholder {
    color: #aaa;
  }
  
  .container button{
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transform: scale(1.01);
    transition: 0.2s;
    box-shadow: 0 0 15px rgb(99, 91, 179);
    margin: 0px 220px;  
  }
  .container button:hover{
    cursor: pointer;
    background-color: #6e8eff;
    transform: scale(1.01);
    transition: 0.2s;
    box-shadow: 0px 0px 10px rgba(212, 23, 23, 0.2);
  }
  